.container {
  display: flex;
  flex-direction: row;
  padding: 40px 80px;
}

.input-container,
.result-container {
  width: 50%;
}

#input {
  white-space-collapse: break-spaces;
  text-wrap: nowrap;
  overflow: auto;
}

.spoiler {
  filter: blur(5px);
}

.tab-container {
  display: flex
}

.tab-button {
  flex-grow: 1;
}

.multiline-text {
  white-space: pre-wrap;
}

.line-numbers {
  text-align: right;
  white-space: pre-wrap;
}