.container {
  display: flex;
  flex-direction: row;
  padding: 40px 80px;
}

.input-container,
.result-container {
  width: 50%;
}

.spoiler {
  filter: blur(5px);
}

.tab-container {
  display: flex;
  gap: 2px;
}

.tab-button {
  flex-grow: 1;
  height: 40px;
  border-width: 3px 0px;
  border-color: black;
  background-color: #D0D0D0;
}

.tab-button:active {
  background-color: white;
}

.tab-button.active {
  background-color: #f0f0f0;
  border-top-color: #d19424;
}

.multiline-text-container {
  display: flex;
  gap: 20px;
}

.multiline-text {
  white-space: pre-wrap;
  text-wrap: nowrap;
  overflow: auto;
}

.line-numbers {
  text-align: right;
  white-space: pre-wrap;
}